header{
	width: 1200px;
	height: 100px;
	background-color: #eff3f7;
}
.logo{

float: left;
}
.social{
	float: right;
}
/*основной блок*/
.content{
	background-color: #eff3f7;

}
/*Основная информация*/
.content-title{
	border-bottom: 3px solid red;
	}
.avatar{
	width: 150px;
	height: 150px;
	background-image: url(../img/ava.png);
	border:3px solid red;
	border-radius: 50px 50px 50px 50px;
}
body{
	background-image: url(../img/bg.png);
}